.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* New */
  .toggle-container{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .blindness-option{
      display: block;
  }
  .Settings-page{
    padding-left: 2rem;
  }

  .color-blind-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .color-blind-container > *{
   outline: 1px black solid;
   padding: 1rem;
  }
  
 /* BUTTON*/ 
 .colorChoiceBlueButton{
  background-color: #0072B2; 
  color: #FFFFFF; 
 /* Button-color: blue; */
 }
 .colorChoiceOrangeButton{
  background-color: #E69F00; 
  color: #FFFFFF; 
 /* Button-color: orange; */
}
.colorChoiceTealButton{
background-color: #008080;
color: #FFFFFF;  
/* Button-color: teal; */

}
.colorChoiceYellowButton{
 background-color: #F0E442; 
 color: #FFFFFF; 
/*Button-color: yellow; */

}
.colorChoicePurpleButton{
 background-color: #9966CC; 
 color: #FFFFFF; 
/* Button-color: purple; */

}
.colorChoiceWhiteButton{
 background-color: #FFFFFF;
 color: #000000; 
/* Button-color: white */
 }
 .colorChoiceBlackButton{
  background-color: #000000; 
  color: #FFFFFF; 
 /* Button-color: black; */
 }

 .colorChoiceDarkGrayButton{
  background-color: #666666; 
 /* Button-color: black; */
 }
 .colorChoiceGreenButton{
  background-color: #00A86B; 
 /* Button-color: black; */
 }

